---
import Layout from '../../layouts/Layout.astro';
import { getCollection, CollectionEntry} from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article>
    <header>
      <h1>{post.data.title}</h1>
      <p>{post.data.date}</p>
      <p>{post.data.description}</p>
    </header>
    <section set:html={post.body} /> 
  </article>
</Layout>
